venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.DS_Store
*.egg-info/
*.egg
*.coverage
.coverage.*
dist/
build/

.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project
*.vscode/
*.bak